<div id="body">
    <mat-grid-list cols="2" rowHeight="100%">
        <mat-grid-tile style="background-color: rgba(254, 254, 254, 0.929);">
            <mat-card class="mat-card" appearance="raised">
                <mat-icon fontIcon="account_circle" class="account-icon"></mat-icon>
                <mat-card-title>Login to your Account</mat-card-title>
                <mat-card-content>  
                    <form id="form" (submit)="submit()" #formRef="ngForm">
                        <ng-container *ngFor="let item of requirements">
                            <mat-form-field style="width: 22.5vw;">
                                <mat-label>{{item.name}}</mat-label>
                                <input matInput
                                    type="{{item.type}}"
                                    [formControl]="item.control"
                                    [errorStateMatcher]="errorMatcher"
                                    [(ngModel)]="output[item.name]"
                                    name="{{item.name}}">
                                
                                <mat-error *ngIf="item.type === 'email' && emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                    Please enter a valid email address
                                </mat-error>
                                <mat-error *ngIf="item.type === 'email' && emailFormControl.hasError('required')">
                                    Email is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="item.type !== 'email' && passwordFormControl.hasError('required')">
                                    Password is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </ng-container>
                        <button mat-button [disabled]="!formRef.form.valid" type="submit">Submit</button>
                    </form>                                          
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<app-footer></app-footer>