<app-disclaimer [conditions]="conditions"></app-disclaimer>
<div id="postCreationBody">
    <mat-card class="mat-card">
        <div style="display: flex; align-items: center;">
            <div id="return" [@fadeIn]="isStepperVisible ? 'visible' : 'hidden'">
                <button mat-icon-button (click)="navigateTo('home')" id="return">
                    <mat-icon fontIcon="arrow_back" style="font-size: xx-large;"></mat-icon>
                </button>
            </div>
            <div id="typewriter"></div>
        </div>
        <div [@expandCollapse]="stepperState">
            <mat-vertical-stepper class="mat-stepper" color="primary" #stepper *ngIf="isStepperVisible">
                <div [formGroup]="form">
                <mat-step state="category" [completed]="form.get('category').valid && form.get('subCategory').valid">
                    <ng-template matStepLabel>Category</ng-template>
                    <mat-stepper #nestedStepper id="nestedStepper">
                        <mat-step [completed]="form.get('category').valid">
                            <ng-template matStepLabel>Main Category</ng-template>
                            <mat-form-field>
                                <mat-label>Select Category</mat-label>
                                    <mat-select formControlName="category" [value]="form.category">
                                        <mat-option *ngFor="let item of categories" [value]="item.mainCtg">{{item.mainCtg}}</mat-option>
                                    </mat-select>
                            </mat-form-field>
                            <div>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                        </mat-step>
                        <mat-step [completed]="form.get('subCategory').valid">
                            <ng-template matStepLabel>Sub Category</ng-template>
                            <mat-form-field>
                                <mat-label>Select Sub Category</mat-label>
                                <mat-select formControlName="subCategory" [value]="form.subCategory">
                                    <mat-option *ngFor="let item of returnSubCategory()" [value]="item">{{item}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button (click)="goToLocationStep()">Next</button>
                            </div>
                        </mat-step>
                    </mat-stepper>
                </mat-step>
                <mat-step state="description" [completed]="form.get('title').valid && form.get('description').valid">
                    <div>
                        <ng-template matStepLabel>Title & Description</ng-template>
                        <div style="display: flex; flex-direction: column; align-items: flex-start; margin: 10px">
                            <mat-form-field>
                                <mat-label>Title</mat-label>
                                <input matInput #title formControlName="title" maxlength="50">
                                <mat-hint align="end">{{title.value.length}} / 50</mat-hint>
                            </mat-form-field>
                            <mat-form-field style="margin-top: 5px; width: 60%;">
                                <mat-label>Description</mat-label>
                                <textarea matInput rows="4" formControlName="description"></textarea>
                            </mat-form-field>
                        </div>
                    </div >
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step state="location" #location [completed]="form.get('location').valid">
                    <ng-template matStepLabel>Location</ng-template>
                    <mat-form-field>
                        <mat-label>Select District</mat-label>
                        <mat-select formControlName="location" [value]="form.location">
                            <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                        </div>
                </mat-step>
                <mat-step state="price" [completed]="form.get('price').valid || form.get('price').disabled">
                    <ng-template matStepLabel>Quotation</ng-template>
                    <section class="quotation">
                        <mat-form-field>
                            <mat-label>Price</mat-label>
                            <input class = 'price' matInput placeholder="0" formControlName="price" (input)="formatPrice()">
                        </mat-form-field>
                        <mat-slide-toggle (change)="updateNegotiable()" style="margin-left: 10px;"> Negotiable </mat-slide-toggle>
                    </section>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step state="image">
                    <ng-template matStepLabel>Upload Image</ng-template>
                    <app-image-upload></app-image-upload>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext [disabled]="hasErrors()">Proceed</button>
                    </div>
                </mat-step>
                <mat-step state="disclaimer" [completed]="!hasErrors()">
                    <ng-template matStepLabel>Disclaimer</ng-template>
                    <div style="margin: 10px;">
                        All transactions on this online market hub are the sole responsibility of the sellers. The platform assumes no liability for product quality, delivery issues, or any disputes between buyers and sellers. Sellers are urged to adhere to company code of conduct (COC), ethical business practices and ensure customer satisfaction. For assistance, contact our support team
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button [disabled]="hasErrors()" (click)="submit()">Accept & Submit</button>
                    </div>
                </mat-step>
                <ng-template matStepperIcon="location">
                    <mat-icon>location_on</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="description">
                    <mat-icon>description</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="price">
                    <mat-icon>sell</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="category">
                    <mat-icon>category</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="image">
                    <mat-icon>imagesmode</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="disclaimer">
                    <mat-icon>warning</mat-icon>
                </ng-template>

            </div> 
            </mat-vertical-stepper>   
        </div>
        <div [@expandCollapse]="showNotification" id="notification">
            <span style="margin-bottom: 10vh;">
                Post has been passed for admin approvals
            </span>
        </div>
    </mat-card>
</div>
<app-footer></app-footer>