.post-image{
    width: 5vw;
    border: 1px groove;
}
.ellipsis-container {
    flex-grow: 1;
    flex-direction: column;
    margin-left: 2vw;
    min-width: 20vw;
    display: flex; /* Add display: flex */
    align-items: left;
}
.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%; /* Adjust to your needs */
    display: inline-block; 
}