<mat-form-field appearance="outline" style="width: 30vw; height: 50%;">
    <mat-label>Take a look...</mat-label>
    <input matInput 
    [formControl]="searchCtrl"
    [matAutocomplete]="auto"
    style="font-size: medium;"
    (keyup.enter)="viewPost($event)">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="viewPost($event)">
        <ng-container *ngFor="let post of filteredPosts | async">
            <mat-option [value]="post.title">
                <div style="display: flex; margin: 5px; width: 50%;">
                    <ng-container *ngIf="post.images; else elseTemplate">
                        <div>
                            <img [src]="post.images" class="post-image" >
                        </div>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <div>
                            <img src="../../../assets/no-image.jpg" class="post-image">
                        </div>
                    </ng-template>
                    <div class="ellipsis-container">
                        <span class="ellipsis">{{post.title}}</span>
                    </div>
                </div>
            </mat-option>
        </ng-container>
    </mat-autocomplete>    
    <button mat-icon-button matSuffix (click)="searchCtrl.value !== '' ? clearSearch() : ''">
        <ng-container *ngIf="searchCtrl.value !== ''; else elseTemplate">
            <mat-icon style="font-size: x-large; color: black;">close</mat-icon>
        </ng-container>
        <ng-template #elseTemplate>
            <mat-icon style="font-size: x-large; color: black;">search</mat-icon>
        </ng-template>  
    </button>
</mat-form-field>         