.post-image{
    width: 5vw;
    border: 1px groove;
}
.ellipsis-container {
    flex-grow: 1;
    margin-left: 2vw;
    max-width: 10vw;
    display: flex; /* Add display: flex */
    align-items: center;
}
.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%; /* Adjust to your needs */
    display: inline-block; 
    align-items: center;
}