<app-header id="header"></app-header>
<div class="disclaimer" *ngIf="conditions">
    <mat-card class="disclaimer-body">
        <mat-card-header style='font-weight: 600;'>Terms & Conditions</mat-card-header>
        <mat-card-content class="content">
            - This website is an online platform that allows users to post and browse advertisements 
            for various products and services. The website does not own, produce, sell, or endorse any
            of the products or services advertised on the website. The website is not involved in any transactions 
            between the buyers and sellers, and does not guarantee the quality, safety, legality, or accuracy of the
            advertisements or the products and services offered. The website is not responsible for any disputes, damages, losses, or 
            liabilities arising from the use of the website or the advertisements.
        </mat-card-content>
        <mat-card-content class="content">
            - The users of the website are solely responsible for their own actions and decisions when
            using the website or contacting the sellers. The users are advised to verify the identity, 
            credibility, and reliability of the sellers before engaging in any transactions. The users are also advised to read and 
            understand the terms and conditions, privacy policy, and refund policy of the sellers before making any payments or 
            purchases. The users are responsible for complying with all applicable laws and regulations when using the website or the advertisements.
        </mat-card-content>
        <mat-card-content class="content">
            - By using this website, you agree to this disclaimer and accept all the risks and responsibilities
            associated with your use of the website and the advertisements. If you do not agree to this disclaimer, 
            please do not use this website or the advertisements. All the users should also adhere to the company code 
            of conduct (COC), promoting a workplace culture built on trust, respect, and professionalism
        </mat-card-content>
        <mat-card-actions style="justify-content: right;">
            <button mat-stroked-button (click)="updateCondition()" class="disclaimer-btn" style="color: white;">
                Accept & Continue
            </button>
        </mat-card-actions>
    </mat-card>
</div>
<div id = "body">   
    <mat-card class="card">
        <mat-card-header><span style=" font-weight: 300;">All Categories &nbsp;| 
            <button mat-button (click)="selectedCategory('')">All Ads</button></span>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content style="margin-top: 30px;">
            <mat-grid-list [cols]="4" rowHeight="1.65:1" >  
                <mat-grid-tile *ngFor="let object of objects">
                    <button mat-button class="category" (click)="selectedCategory(object.category)">
                        <div>
                            <img [src]="'../../assets/categories/'+object.icon+'.png'" style="width: 82.5%;">
                            <span style="font-size: 1em; font-weight: 400;">{{object.category}}</span>
                        </div>
                        </button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>
<app-footer class="footer"></app-footer>