<app-header id="header"></app-header>
<app-disclaimer [conditions]="conditions"></app-disclaimer>
<div id = "body">   
    <mat-card class="card">
        <mat-card-header><span style=" font-weight: 300;">All Categories &nbsp;| 
            <button mat-button (click)="selectedCategory('')">All Ads</button></span>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content style="margin-top: 30px;">
            <mat-grid-list [cols]="4" rowHeight="1.65:1" >  
                <mat-grid-tile *ngFor="let object of objects">
                    <button mat-button class="category" (click)="selectedCategory(object.category)">
                        <div>
                            <img [src]="'../../assets/categories/'+object.icon+'.png'" style="width: 82.5%;">
                            <span style="font-size: 1em; font-weight: 400;">{{object.category}}</span>
                        </div>
                        </button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>
<app-footer class="footer"></app-footer>