<div class="body">
    <mat-card class="mat-card">
        <mat-card-title>
            <mat-card-actions>
                <button mat-icon-button (click)="close.emit()">
                    <mat-icon>close</mat-icon>
                  </button>
            </mat-card-actions>
        </mat-card-title>
        <mat-card-content class="content">
                <mat-card>
                    <mat-card-header>
                        <mat-icon mat-card-avatar>account_circle</mat-icon>
                    </mat-card-header>
                </mat-card>
        </mat-card-content>
    </mat-card>
</div>