<app-header></app-header>
<div id="body">
    <mat-card class="card" [@collapseExpand]="collapse ? 'expanded' : 'collapsed'">
        <div style="height: 5vw">
            <mat-icon class="avatar" fontIcon="account_circle"></mat-icon>  
        </div>

        <div [@fadeIn]>
            <div fxLayout="row" fxLayoutAlign="center start" class="grid">
                <div fxFlex="45%" id="center" style="border-right: 1px solid; height: 90%; ">
                    <div style="margin: 5px; width: 100%;" >
                        <div style="display: flex; align-items: bottom;" id="align">
                            <mat-card-title id="text-center" style="max-width: 80%;">{{profile.name}}</mat-card-title>
                            <mat-card-subtitle style="margin:5px;">#{{profile.id}}</mat-card-subtitle>
                        </div>
                        <div style="display: flex;" id="align">
                            <mat-icon fontIcon="mail" id="text-icon"></mat-icon><mat-card-subtitle>{{profile.email}} </mat-card-subtitle>
                        </div>
            
                        <div style="display: flex; margin-bottom: 5%;" id="align">
                            <mat-icon fontIcon="call" id="text-icon"></mat-icon><mat-card-subtitle>{{profile.mobile}} </mat-card-subtitle>
                        </div>  
                            
                        <div class="posts">
                            <mat-card-title style=" border-bottom: 1px solid;">&emsp;My Ads</mat-card-title>
                            <ng-container *ngIf="postedAds;">
                                <div [class.post-container] ='postedAds.length > 2' id="ads">
                                    <app-posts [posts]="postedAds"></app-posts>
                                </div>
                            </ng-container>    
                        </div>
                    </div>
                </div>
                <div fxFlex="55%">
                    <div style="width: 100%; margin:0 10px 10px 10px;">
                        <mat-card-title style="border-bottom: 1px solid;">&emsp;Added to Wishlist</mat-card-title>
                        <ng-container *ngIf="wishlist;">
                            <div [class.post-container] ='wishlist.length > 2' id="wishlist">
                                <app-posts [posts]="wishlist"></app-posts>
                            </div>
                        </ng-container>      
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>
<app-footer></app-footer>